---
title: Vincent Parks
layout: page
---

:markdown
  Vincent Parks, realistic fox partial by [wynderkind](http://wynderkind.tumblr.com/).

%ul.large-block-grid-4.small-block-grid-1
  %li
    %figure.hortizontal
      %a{href: "/photos/my-fursuit-vincent-parks/"}
        %img{src: "/furry/vincent-parks/fursuit.jpg", width: 225, height: 300}
      %figcaption Commander Parks with Medical Phaser
      
  %li
    %figure.hortizontal
      %a{href: "/furry/vincent-parks/badge.jpg"}
        %img{src: "/furry/vincent-parks/badge.jpg", width: 400, height: 315}
      %figcaption Commander Parks Security Badge

%h2 Photos by wynderkind

%ul.large-block-grid-4.small-block-grid-1
  %li
    %figure.hortizontal
      %a{href: "/furry/vincent-parks/photo-1.jpg"}
        %img{src: "/furry/vincent-parks/photo-1-thumb.jpg", width: 200, height: 300}
  %li
    %figure.hortizontal
      %a{href: "/furry/vincent-parks/photo-2.jpg"}
        %img{src: "/furry/vincent-parks/photo-2-thumb.jpg", width: 200, height: 300}
  %li
    %figure.hortizontal
      %a{href: "/furry/vincent-parks/photo-3.jpg"}
        %img{src: "/furry/vincent-parks/photo-3-thumb.jpg", width: 200, height: 300}
  %li
    %figure.hortizontal
      %a{href: "/furry/vincent-parks/photo-5.jpg"}
        %img{src: "/furry/vincent-parks/photo-5-thumb.jpg", width: 200, height: 300}
  %li
    %figure.hortizontal
      %a{href: "/furry/vincent-parks/photo-6.jpg"}
        %img{src: "/furry/vincent-parks/photo-6-thumb.jpg", width: 200, height: 300}
  %li
    %figure.hortizontal
      %a{href: "/furry/vincent-parks/photo-7.jpg"}
        %img{src: "/furry/vincent-parks/photo-7-thumb.jpg", width: 200, height: 300}
  %li
    %figure.hortizontal
      %a{href: "/furry/vincent-parks/photo-9.jpg"}
        %img{src: "/furry/vincent-parks/photo-9-thumb.jpg", width: 200, height: 300}
  %li
    %figure.hortizontal
      %a{href: "/furry/vincent-parks/photo-b.jpg"}
        %img{src: "/furry/vincent-parks/photo-b-thumb.jpg", width: 200, height: 300}
  %li
    %figure.hortizontal
      %a{href: "/furry/vincent-parks/photo-4.jpg"}
        %img{src: "/furry/vincent-parks/photo-4-thumb.jpg", width: 300, height: 200}
  %li
    %figure.hortizontal
      %a{href: "/furry/vincent-parks/photo-a.jpg"}
        %img{src: "/furry/vincent-parks/photo-a-thumb.jpg", width: 300, height: 200}
  %li
    %figure.hortizontal
      %a{href: "/furry/vincent-parks/photo-8.jpg"}
        %img{src: "/furry/vincent-parks/photo-8-thumb.jpg", width: 300, height: 200}