
//=require_self
//=require bootstrap-tooltips
//=require highlighter.css

@import "normalize.scss";

// Make sure the charset is set appropriately
@charset "UTF-8";

// This includes all of the foundation global elements that are needed to work with any of the other files.
@import "foundation/variables";

// Foundation Components
@import
  "foundation/components/global",
  "foundation/components/grid",
  "foundation/components/visibility",
  "foundation/components/block-grid",
  "foundation/components/type",
  "foundation/components/buttons",
  "foundation/components/forms",
  "foundation/components/button-groups",
  "foundation/components/dropdown-buttons",
  "foundation/components/split-buttons",
  "foundation/components/flex-video",
  "foundation/components/section",
  "foundation/components/top-bar",
  "foundation/components/orbit",
  "foundation/components/reveal",
  "foundation/components/joyride",
  "foundation/components/clearing",
  "foundation/components/alert-boxes",
  "foundation/components/breadcrumbs",
  "foundation/components/custom-forms",
  "foundation/components/keystrokes",
  "foundation/components/labels",
  "foundation/components/inline-lists",
  "foundation/components/pagination",
  "foundation/components/panels",
  "foundation/components/pricing-tables",
  "foundation/components/progress-bars",
  "foundation/components/side-nav",
  "foundation/components/sub-nav",
  "foundation/components/switch",
  "foundation/components/magellan",
  "foundation/components/tables",
  "foundation/components/thumbs",
  "foundation/components/dropdown";

@import "foundation/_overrides";

$reg_width: 620px;
$sm_viewport: 680px;
$sm_width: 500px;
$tiny_viewport: 520px;
$tiny_width: 300px;

$header-bg: #4F4636;
$link-color: #455677;

body{
  background-color: $primary-color;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
}

#main{
  background-color: white;
  padding-top: 1em;
}

// SITE HEADER AND FOOTER

#site-header{
  -webkit-font-smoothing: antialiased;
  margin-bottom: 0.5em;
}
#site-title-wrapper{
  @include grid-row;

  #site-title{
    @include grid-column(12);
    padding-top: 1em;
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-attachment: scroll;
    background-image: url('/images/wolf.png'); 

    h1{
      display: inline-block;
      margin: 0;
      color: white;
      font-size: 2.2em;
      font-weight: normal;
      line-height: 1.2em;


      a, a:active, a:visited, a:hover {
        text-decoration: none;
        color: white;
      }
    }
  }
}


#site-nav{
  text-align: left;
  margin-top: 0.5em;
  margin-bottom: 0.3em;

  a{
    color: white;
    text-decoration: none;
    &.active{
    }
  }
}
#site-footer{
  @include grid-row;
  #site-footer-inner{
    @include grid-column(12); 
  }
  color: white;
  font-size: 0.9em;
  padding: 1em 0; 
  text-align: center;
  -webkit-font-smoothing: antialiased;

  a{
    color: white;
    text-decoration: none;
    &.active{
    }
  }
}

// LAYOUT TYPES

article.blog.link header h1{
  font-size: 1.3em;
}

section.page{
  @include grid-row;

  article{
    @include grid-column(12); 
  }
}

#photos-nav{
  margin-bottom: 1em;
  a.active{
    text-decoration: none;
  }
}

// GENERAL STYLING

pre, code {
  font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
}

article{
  header {
    h1, h2, h3, h4, h5, h6{
      margin: 0;
    }
  }
  h1, h2, h3, h4, h5, h6{
    margin: 0;
    margin-bottom: 0.2em;
    &.title{
      border-bottom: 1px solid $primary-color;
    }
  }

}

img, figure {
  max-width: 100%; 
  height: auto;
  &.left{
    float: left;
    padding-right: 0.5em;
  }
  &.right{
    float: right;
    padding-left: 0.5em;
  }
}

figure {

  &.right { 
    float: right; 
    margin-left: 2em; 
    margin-right: 0; 
    margin-top: 0; 
    max-width: 50%; 
  }

  img { 
    display: block;
    border: 1px solid #ccc; 
    margin: auto;
  }

  figcaption { 
    text-align: center; 
    font-size: 0.85em; 
    color: #555; 
  }
}


// BLOG POSTS, LINK POSTS, AND WRITING

.pager {
  padding: 1em 0;
  text-align: center;
  overflow: hidden;
  .next {
    float: right;
  }
  .prev{
    float: left;
  }
}

// UTILITY CLASSES
p.center{
  text-align: center; 
}

p.gray-box{
  padding: 5px;
  border: 1px solid #eee;
  background-color: #f4f4f4;
  font-size: .8em;
  line-height: 1.5em;
}

.bold{
  font-weight: bold;
}
.gray{
  color: #888;
}

.inline-block{
  display: inline-block;
}

ul.unstyled, ol.unstyled {
  padding: 0;
  margin-left: 0;
  list-style: none;
} 

ul.tight li{
  margin: 0.2em 0;
}

.datetime{
  color: #777;
  display: inline-block;
}

.datetime-short{
  display: inline-block;
  width: 3.5em; 
  text-align: right;
}

.nobreak{
  white-space: nowrap;
}

div.dot {
  color: #777;
  text-align: center;
  margin: 2em 0;
}
span.dot {
  color: #777;
}

.printonly { 
  display: none!important; 
}


@media only screen and (max-width: #{$small-screen}) { 
  #site-title-wrapper #site-title h1{
    font-size: 1em;
  }

  #main article img{
    margin: auto;
    padding: 0;
    display: block;

    &.right, &.left{
      float: none !important; // Overriding foundation...
    }
  }
}


// nsfw page.
div.nsfw-header{
  margin-top: 2em;
  padding: 0 1em;
  background: #fff;
    font-size: .9em;
    line-height: 1.5em;
    border: 1px solid red;
}
div.nsfw {
  display: none;
}