:ruby
  #github_blob_url = "https://github.com/epochwolf/epochwolf.com/blob/master"
  github_blob_url = "https://raw.github.com/epochwolf/epochwolf.com/master"
  project_relative_path = current_page.source_file.gsub(Dir.pwd, "")
  source_url = github_blob_url + project_relative_path

#footer-inner
  %nav
    =link_to "Donate", "/donate/"
    %span.dot="&sdot;"
    =link_to "Twitter", "http://twitter.com/epochwolf"
    %span.dot="&sdot;"
    =link_to "Github", "https://github.com/epochwolf"
    %span.dot="&sdot;"
    =link_to "Other Blogs", "/pages/other-blogs/"
    -unless build?
      %span.dot="&sdot;"
      =link_to "Sitemap", '/__middleman/sitemap/'
      %span.dot="&sdot;"
      =link_to "Config", "http://localhost:4567/__middleman/config"
  %p All Content and Images &copy; 2010 - #{Time.now.year} EpochWolf
  %p 
    Corrections and comments can be emailed to #{link_to "blog@epochwolf.com"}. 
    Website source code available #{link_to "on github", "https://github.com/epochwolf/epochwolf.com"}. 

=google_analytics_tag