#site-footer-wrapper
  #site-footer
    %p &copy; 2010 - #{Time.now.year} EpochWolf 
    %p See #{link_to "my twitter", "http://twitter.com/epochwolf"} feed or #{link_to "my github", "https://github.com/epochwolf"}.
