#site-footer-wrapper
  #site-footer
    %nav
      =link_to "Blog", '/'
      %span.dot="&loz;"
      =link_to "Wiki", 'http://ew.vc'
      %span.dot="&loz;"
      =link_to "Paste", 'http://sp.ew.vc'
      %span.dot="&loz;"
      =link_to "Twitter", "http://twitter.com/epochwolf"
      %span.dot="&loz;"
      =link_to "Github", "https://github.com/epochwolf"
    %p &copy; 2010 - #{Time.now.year} EpochWolf 
    %p Corrections and comments can be emailed to #{link_to "blog@epochwolf.com"}

=google_analytics_tag