#site-header-wrapper
  #site-header
    #site-header-title
      %h1=link_to "EpochWolf", "/"
      %h2 A wolf doing tricks. Like making an awesome website.
  %nav
    =link_to "Home", '/'
    %span.dot="&loz;"
    =link_to "Blog", '/blog/'
    %span.dot="&loz;"
    =link_to "Projects", '/projects/'
    %span.dot="&loz;"
    =link_to "Photos", '/photos/'
    %span.dot="&loz;"
    =link_to "Reading", '/pages/recommended-reading/'
    %span.dot="&loz;"
    =link_to "Writing", '/writing/'