#site-header-wrapper
  #site-header
    #site-header-title
      %h1=link_to "EpochWolf's Blog", "/"
      %h2 A wolf doing tricks. A very procrastinatory wolf.
  %nav
    =link_to "Blog", '/'
    %span.dot="&loz;"
    =link_to "Archive", '/blog/archive/'
    %span.dot="&loz;"
    =link_to "Writing", '/writing/'
    %span.dot="&loz;"
    =link_to "About Me", '/pages/about-me/'
