!!! 5
%html{lang: "en"}
  %head
    =partial "layouts/head"
  %body#fullscreen
    %header#site-header
      #site-title-wrapper
        #site-title
          %h1=link_to "EpochWolf", "/"
    #main
      %section=yield