:ruby
  # Hack to get the page number for the photo list.
  page_number = 1
  back_to_photos_url = "/photos/#"
  blog("photos").articles.each_with_index do |page, index|
    next if page != current_page
    page_number += index / 10
  end
  back_to_photos_url = "/photos/page/#{page_number}/#" if page_number != 1
  back_to_photos_url += current_page.data.photo

-wrap_layout :fullscreen do
  .pager
    -if current_page.previous_article
      %span.prev
        &laquo;
        =link_to "Previous", current_page.previous_article
    %span
      %strong=current_page.title
    -if current_page.next_article
      %span.next
        =link_to "Next", current_page.next_article
        &raquo;
  %figure 
    =link_to "/images/gallery/#{current_page.data.photo}" do 
      =thumbnail "/images/gallery/#{current_page.data.photo}", :large
    %figcaption=yield
  .pager
    -if current_page.previous_article
      %span.prev
        &laquo;
        =link_to "Previous", current_page.previous_article
    -if current_page.next_article
      %span.next
        =link_to "Next", current_page.next_article
        &raquo;
  %footer
    %p.center=link_to "Back to photos", back_to_photos_url