---
title: Furry Conventions 2014
layout: page
---

:markdown
  I am attending the following conventions in 2014. If you haven't been to one before and you'd like me to guide you through one, email me.

  Feel free to contact me at me@epochwolf.com for rideshare and roomshare information. If you're interested in sharing a room with me, I recommend looking at my example [roomshare agreement](/furry/roomshare/). All ride and room shares are subject to approval.

%table
  %thead
    %tr
      %th Convention
      %th City
      %th Date
      %th Reg Status
      %th Hotel Status
      %th Rideshare?
      %th Roomshare?
  %tbody
    %tr
      %td=link_to "FurSquared", "http://fursquared.com/"
      %td Brookefield, WI
      %td Feb 28 - Mar 2
      %td Supersponsor
      %td Booked
      %td 3 seats @ $49 ea
      %td No
    %tr
      %td=link_to "Morphicon", "http://morphicon.org"
      %td Combulus, OH
      %td May 1 - May 4
      %td Sponsor
      %td Booked
      %td 3 seats @ $19 ea
      %td 
        1 queen bed @ ~$160
        %sup 1
    %tr
      %td=link_to "AnthroCon", "http://www.anthrocon.org/"
      %td Pittsburgh, PA
      %td July 3 - July 6
      %td Supersponsor
      %td Waiting
      %td 2 seats @ $35 ea
      %td Taken
    %tr
      %td=link_to "IndyFurCon", "http://www.indyfurcon.com/"
      %td Indianapolis, In
      %td Aug 29 - Aug 31
      %td -
      %td -
      %td -
      %td -
    %tr
      %td=link_to "Furlaxation", "http://furlaxation.org/"
      %td Combulus, OH
      %td Sept 12 - Sept 14
      %td Tentative
      %td -
      %td -
      %td -
    %tr
      %td=link_to "FurReality", "http://www.furreality.org/"
      %td Cincinnati, OH
      %td Oct 10 - Oct 12
      %td -
      %td -
      %td Yes
      %td My Apartment
    %tr
      %td=link_to "MidwestFurFest", "http://www.furfest.org/"
      %td Chicago, IL
      %td Dec 5 - Dec 7
      %td -
      %td -
      %td -
      %td -

%ol
  %li An entire queen bed, if you want to pair up with someone and split the cost, I need to approve both of you. 

%h2 Rideshare cost
%p I drive an SUV and my fuel cost is four gallons of per hour of travel time. Since I carry a maximum of three passengers, my rate is one gallon of fuel per hour traveled. Listed costs assume round-trip and $3.50 per gallon of gas.
%p If you're roomsharing with me, the ride to and from the convention is free.