---
title: Furry Conventions 2014
layout: page
---

:markdown
  I am attending the following conventions in 2014. If you haven't been to one before and you'd like me to guide you through one, email me.

  I have time off for work scheduled for all conventions listed below. 

%table
  %thead
    %tr
      %th Convention
      %th City
      %th Date
      %th Reg Status
      %th Hotel Status
      %th Rideshare?
      %th Roomshare?
  %tbody
    %tr
      %td=link_to "FurSquared", "http://fursquared.com/"
      %td Brookefield, WI
      %td Feb 28 - Mar 2
      %td Supersponsor
      %td Booked
      %td No
      %td No
    %tr
      %td=link_to "Morphicon", "http://morphicon.org"
      %td Combulus, OH
      %td May 1 - May 4
      %td Sponsor
      %td Booked
      %td Yes
      %td 1 available
    %tr
      %td=link_to "AnthroCon", "http://www.anthrocon.org/"
      %td Pittsburgh, PA
      %td July 3 - July 6
      %td Supersponsor
      %td Waiting
      %td Yes
      %td Taken
    %tr
      %td=link_to "IndyFurCon", "http://www.indyfurcon.com/"
      %td Indianapolis, In
      %td August?
      %td -
      %td -
      %td -
    %tr
      %td=link_to "Furlaxation", "http://furlaxation.org/"
      %td Combulus, OH
      %td Sept 12 - Sept 14
      %td Tentative
      %td -
      %td -
      %td -
    %tr
      %td=link_to "FurReality", "http://www.furreality.org/"
      %td Cincinnati, OH
      %td Oct 10 - Oct 12
      %td -
      %td -
      %td Yes
      %td My Apartment
    %tr
      %td=link_to "MidwestFurFest", "http://www.furfest.org/"
      %td Chicago, IL
      %td Dec 5 - Dec 7
      %td -
      %td -
      %td -
      %td -