---
title: Furry
layout: page
---

%table.right.pad-left
  %thead
    %tr
      %td 
        %a{href: "/furry/feral-ref.png"}
          %img{src: "/furry/feral-ref-thumb.png", height: 162, width: 162, title: "My fursona: Epoch."}
    %tr
      %th Cons 2014
  %tbody
    %tr
      %td FurSquared
    %tr
      %td Morphicon
    %tr
      %td AnthroCon
    %tr
      %td IndyFurCon
    %tr
      %td Furlaxation
    %tr
      %td FurReality
    %tr
      %td MidwestFurFest
    %tr
      %td.text-center
        %a{href: "/furry/conventions/"} Detailed Schedule


:markdown
  One of my favorite hobbies is the [Furry Fandom](http://en.wikipedia.org/wiki/Furry_fandom). In short Furry Fandom (furry for short) is a love of cartoon animals. If you've ever seen Disney's Robin Hood, that's the kind of stuff this fandom is based around. People who like cartoon animals call themselves "furries". 

  Furries are extremely diverse group and are extremely accepting of differences. You get all kinds of people from rednecks, hardcore christians, and flaming gays going to events together. Some furries are high school or college age kids trying to figure out their place in the world. Others have been in the fandom their entire lives. Me? I'm pretty new to this. I didn't realize I was a furry until my first convention [Fur Reality](/blog/2013/10/14/fur-reality-2013/) in October 2013.

%h2 My "Fursona"

:markdown
  Most furries have a persona that they identify with. Mine is a mexican wolf named "Epoch". You can click the picture of him in the upper right to see the full reference sheet. 

  There's a few more things on my [FurAffinity](http://www.furaffinity.net/user/epochwolf/) page but you'll need a FurAffinity account to see it. 

%h2 Fursuits

:markdown
  Some furries like to dress up like animals in costumes called Fursuits. It can be a lot of fun. I find fursuits to be incredibly cute. 

  Here's a couple of videos of people preforming in fursuits. 

  ### Furry Music Video - Good Time

  <iframe width="640" height="360" src="//www.youtube.com/embed/A3wq_82naoU" frameborder="0" allowfullscreen></iframe>

  ### Winning entry for Anthrocon 2013 Fursuit Dance Competition 

  <iframe width="640" height="360" src="//www.youtube.com/embed/K9nNtywBnP0" frameborder="0" allowfullscreen></iframe>

%h2 My Fursuit

%ul.large-block-grid-4.small-block-grid-1
  %li
    %figure.hortizontal
      %a{href: "/furry/vincent-parks/"}
        %img{src: "/furry/vincent-parks/fursuit.jpg", width: 225, height: 300}
      %figcaption Vincent Parks

