---
title: Tags
blog: photos
---
%h1 Photo Tags

%ul.unstyled
  -blog.tags.sort_by{|t| t[0] }.each do |tag_name, articles|
    %li
      =link_to tag_name, "/photos/tags/#{tag_name}"
      (#{articles.count})