<!DOCTYPE html>
<html>
<head>
<link rel="canonical" href="<%=new_url %>"/>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="refresh" content="0;url=<%=new_url %>" />
</head>
<body>
<p>This page has been moved. Redirecting you to the <a href="<%=new_url %>">new page</a>.</p>
</body>
</html>