---
title: Blog Archive
blog: blog
layout: page
---

%ul.unstyled
  -blog.articles.group_by{|a| a.date.year }.each do |year, articles|
    %li
      %strong=year
    -articles.each do |article|
      %li
        %span.datetime-short=article.date.strftime("%b %d")
        =link_to article.title, article
        -if article.data.layout == 'nsfw'
          &dagger;
        -unless article.tags.length == 0
          &mdash;
          =tag_list article.tags, "/blog"

%p &dagger; Post contains mature content.