<h1>Redirects</h1>

<% code("ruby") do %>
{
<% blog("main").articles.select{|a| a.data.alias }.each do |article| %>
  <%=article.data.alias.first.inspect %> => <%=article.url.inspect %>,
<% end %>
}
<% end %>