---
title: All Tags
blog: blog
layout: blog_page
---
%ul.unstyled
  -blog("blog").tags.sort_by{|t| t[0] }.each do |tag_name, articles|
    %li
      =link_to tag_name, "/blog/tags/#{tag_name}"
      (#{articles.count})