---
title: 404 Page Not Found
---

%section.page
  %article 
    %h1 Page Not Found
    %p Sorry the page you are looking for could not be located. Try the #{link_to "blog archive", "/blog/archive/"}?