---
title: "About EpochWolf"
layout: layout
blog: blog
---
:ruby
  latest_articles = page_articles.sort_by{|a| a.date }.reverse[0,5]

%section#front_page.row
  %article.columns.large-8
    %header{style: 'clear:both;'}
      %h1 About Epoch Wolf
    :markdown
      I'm a full-stack Ruby on Rails developer and hobbyist writer in Cincinnati, OH. Formerly in Bothell, WA.

      I'm a huge fan of science fiction and fantasy. I'm always reading something in one of those genres. Once in a while, I'll pick up a biography or a text book. The biggest thing I miss from college is the ability to take classes outside of my normal field of study.

      # My hobbies

      * Reading books ([Recommended Reading](/pages/recommended-reading))
      * Writing short fiction
      * Doing research for my writing
      * Watching documentaries
      * Listening to [podcasts](/pages/other-blogs/#podcasts)
      * Working on my [programming projects](/projects/)


      # Find me online

      * [Twitter](http://twitter.com/epochwolf)
      * [Github](https://github.com/epochwolf)
      * irc.freenode.net in #rubyonrails 
      {: .tight}


      ## Contact Information

      Feel free to email me at <me@epochwolf.com>.
  %aside.columns.large-4
    .large-12
      %figure
        %img{src: "/images/washington-pass.jpg", height: "370", width: "300", class: "pad-left", style: "clear: both", alt: "Me sitting on a rock wall at washington pass."}
        %figcaption Sitting on a rock wall at washington pass.
    .large-12
      %h2 Recent Posts
      %ul.unstyled
        -latest_articles.each do |article|
          %li
            %span.gray.datetime-short=article.date.strftime("%b %d")
            =link_to article.title, article
