---
title: "About EpochWolf"
layout: 
blog: blog
---
:ruby
  latest_article = page_articles.sort_by{|a| a.date }.reverse.first

%article
  %header{style: 'clear:both;'}
    %h1 About Epoch Wolf

  %div{style: "float: right;"}
    %p.gray-box{style:"width: 290px;"} 
      Latest Post:
      =link_to latest_article.title, latest_article
    %img{src: "/images/washington-pass.jpg", height: "370", width: "300", class: "pad-left", style: "clear: both", alt: "Me sitting on a rock wall at washington pass.", title: "Taken in Washington Pass. It's really pretty in summer."}

  :markdown
    I'm a full-stack Ruby on Rails developer and hobbyist writer in Cincinnati, OH. Formerly in Bothell, WA.

    I'm a huge fan of science fiction and fantasy. I'm always reading something in one of those genres. Once in a while, I'll pick up a biography or a text book. The biggest thing I miss from college is the ability to take classes outside of my normal field of study.

    # My hobbies

    * Reading books ([Recommended Reading](/pages/recommended-reading))
    * Writing short fiction
    * Doing research for my writing
    * Watching documentaries
    * Listening to [podcasts](/pages/other-blogs/#podcasts)
    * Working on my [programming projects](/projects/)


    # Find me online

    * [Twitter](http://twitter.com/epochwolf)
    * [Github](https://github.com/epochwolf)
    * irc.freenode.net in #rubyonrails 
    {: .tight}


    ## Contact Information

    Feel free to email me at <me@epochwolf.com>.