---
title: Projects
layout: page
---

%img{src: "/images/drunk-mouse.jpg", height:"215", width:"150", class:"right pad-left hide-phone", alt:"Plush mouse diving into my wine", title:"Bad mouse!"}

%p A selection of programming projects I've done through out the years. 

%h2
  =link_to "epochwolf.com", "#"
  %small=link_to "on github", "https://github.com/epochwolf/epochwolf.com"
%p 
  My website built using #{link_to "middleman", "http://middlemanapp.com"}, a static site generator. 
  Currently hosted on a linode vps.

%h2 
  =link_to "LitSocial", "http://staging.litsocial.com"
  %small=link_to "on github", "https://github.com/epochwolf/litsocial"
%p
  A website for writers to share their stories and people to read them. 
  Not finished yet. It's been a work in progress since #{link_to "2010", "https://github.com/epochwolf/singleforest-old"}. 
  It's a hobby project I rebuild every year or so to keep my rails skills sharp. 

%h2 
  =link_to "Simple Paste", "http://sp.ew.vc"
  %small=link_to "on github", "https://github.com/epochwolf/simple-paste"
%p
  A plain text pastebin. I got annoyed with how pastie.org handled plain text so I wrote my own solution in 3 hours. I used php since I already had it installed on my VPS and wouldn't require much server configuration. 

%h2 
  Pious Plum
  %small=link_to "on github", "https://github.com/epochwolf/pious-plum"
%p 
  IRC Bot written in Node.JS. I built it to learn how to use Node.JS. 
  I found Node.JS much better suited for building bots than ruby or lua. 

%h2 
  GodGamePurple
  %small=link_to "on github", "https://github.com/epochwolf/godgamepurple"
%p 
  Sabot rewritten in Ruby. 

%h2 
  Sabot
  %small=link_to "on github", "https://github.com/epochwolf/sabot"
%p 
  IRC Bot written in pure lua. It has event based architecture and plug ins